.card {
  background-color: var( --primary-color);
  width: 324px;
  height: 450px;
  border-radius: var(--border-radius-secondary);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  cursor: pointer;
  color: var(--main-text-color);
}

.cardTitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
}

.cardImg {
  align-self: center;
  width: 240px;
  height: 240px;
}

.cardPrice {
  font-weight: 400;
  font-size: 17px;
  color: var(--main-text-color);
}