.form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 43px 200px max-content;
  align-items: center;
  column-gap: 5px;
  row-gap: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  grid-column: 2 / -2;
  grid-row: 2;
}


.orderTypeContainer {
  display: grid;
  grid-template-columns: 165px 165px;
  column-gap: 10px;

  .orderType {
    grid-column: span 3;
    padding-bottom: 10px;

  }
}

.addressContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;

}

.buttonContainer {
  display: grid;
  grid-template-columns: 135px max-content;
  align-items: center;
  column-gap: 30px;
  grid-column: 1 / -1;
  padding-top: 30px;

}

.button {
  width: 100%;
  height: 44px;
  border-radius: var(--border-radius-primary);
  background-color: var( --main-btn-color);

}

.activeButton {
  border: 3px solid #38c0ff;
  border-radius: var(--border-radius-secondary);
  background-color: var(--main-btn-color);
}

.buttonBack {
  width: 43px;
  height: 43px;
  background-image: url("../../shared/assets/images/icon/testt.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: var(--main-btn-color);
  color: #fff;

}