@use "./vendor/garamond";
@use "./vendor/glyphter";
@use "./vendor/ys-text";
@use "./vendor/normalize.css";

@use "./styles/normalize" as *;
@use "./styles/reset" as *;

:root {
  --main-bg-color: #76a4e4;

  --primary-color: #375075;

  --main-text-color: #000;

  --main-btn-color: #fff;

  --disabled-color: #535353;
}

body {
  font-family: "YS Text", sans-serif;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  background-color: var( --main-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #b8d5ff;

    --primary-color: #95b7e4;

    --main-text-color: #000;

    --main-btn-color: #B0E0E6FF;

    --disabled-color: #535353;
  }
}

@media (prefers-color-scheme: dark) {
  :root {

    --main-bg-color: #0F2137;

    --primary-color: #060C14;

    --main-text-color: #fff ;

    --main-btn-color: #e6d6e8;

    --disabled-color: rgba(159, 159, 159, 0.53);

  }
}

